/* ######################### MENU STYLE #########################*/
#imSite { position: relative; }
#imMnMn > ul { z-index: 10001; }
#imMnMn ul > ul { z-index: 10002; }

/* Main Menu */

#imMnMn ul, #imPgMn ul {padding:0;margin:0;list-style-type:none; }
#imMnMn > ul > li { margin-left: 0px;  }
#imMnMn > ul > li:first-child { margin-left: 0; }
/* Links */
#imMnMnNode0 { background-image: url('../menu/index.png'); height: 26px; width: 120px; }
#imMnMnNode0 .imMnMnFirstBg { height: 26px; width: 120px; }
#imMnMnNode0:hover { background: none; background-image: none; }
#imMnMnNode0:hover .imMnMnFirstBg { background-image: url('../menu/index_h.png'); height: 26px; width: 120px;}
#imMnMnNode0.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode0.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/index_h.png'); height: 26px; width: 120px;}
#imMnMnNode3 { background-image: url('../menu/proceso-matriz.png'); height: 26px; width: 120px; }
#imMnMnNode3 .imMnMnFirstBg { height: 26px; width: 120px; }
#imMnMnNode3:hover { background: none; background-image: none; }
#imMnMnNode3:hover .imMnMnFirstBg { background-image: url('../menu/proceso-matriz_h.png'); height: 26px; width: 120px;}
#imMnMnNode3.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode3.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/proceso-matriz_h.png'); height: 26px; width: 120px;}
#imMnMnNode4 { background-image: url('../menu/noticias.png'); height: 26px; width: 120px; }
#imMnMnNode4 .imMnMnFirstBg { height: 26px; width: 120px; }
#imMnMnNode4:hover { background: none; background-image: none; }
#imMnMnNode4:hover .imMnMnFirstBg { background-image: url('../menu/noticias_h.png'); height: 26px; width: 120px;}
#imMnMnNode4.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode4.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/noticias_h.png'); height: 26px; width: 120px;}
#imMnMnNode5 { background-image: url('../menu/actividades.png'); height: 26px; width: 120px; }
#imMnMnNode5 .imMnMnFirstBg { height: 26px; width: 120px; }
#imMnMnNode5:hover { background: none; background-image: none; }
#imMnMnNode5:hover .imMnMnFirstBg { background-image: url('../menu/actividades_h.png'); height: 26px; width: 120px;}
#imMnMnNode5.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode5.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/actividades_h.png'); height: 26px; width: 120px;}
#imMnMnNode6 { background-image: url('../menu/contactenos.png'); height: 26px; width: 120px; }
#imMnMnNode6 .imMnMnFirstBg { height: 26px; width: 120px; }
#imMnMnNode6:hover { background: none; background-image: none; }
#imMnMnNode6:hover .imMnMnFirstBg { background-image: url('../menu/contactenos_h.png'); height: 26px; width: 120px;}
#imMnMnNode6.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode6.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/contactenos_h.png'); height: 26px; width: 120px;}
#imMnMn > ul > li.imMnMnSeparator { background: transparent url('../res/separatorh.png') no-repeat center center; width: 10px; height: 26px; }
#imMnMn .imMnMnFirstBg { display: block; background-repeat: no-repeat; cursor: pointer; width: 100%; }
#imMnMn a { border: none; cursor: pointer; }
#imMnMn .imMnMnFirstBg .imMnMnTxt {display: none;}


/* MENU POSITION : HORIZONTAL VerticalOneColumn */
#imMnMn ul .autoHide, #imMnMn ul div .autoHide { display: none; }

/* ######################### MAIN MENU POSITION #########################*/

/* div: Menu container*/
#imMnMn { z-index:10000; }
#imMnMn > ul { position: relative; }
#imMnMn > ul > li > ul { position: absolute; }

/* First level menu style */
#imMnMn > ul > li { display: inline-block; width:120px; }
#imMnMn > ul > li span { display:block; padding:0;}
#imMnMn a { cursor: pointer; display: block; width:120px;}

/* ########################## SUB MENU POSITION #########################*/

#imMnMn.auto ul li ul li { top: 0px; }

/* Second level boxmodel*/
#imMnMn.auto ul li ul li ul { position: absolute; width: 160px; }

/* Hide Levels */
#imMnMn.auto li:hover > ul.auto { display:block; }
#imMnMn.auto li ul.auto { display: none; }
#imMnMn ul ul li .imMnMnBorder { overflow: hidden; }

/* End of file menu.css */